.history {
    > li {
        padding: 3px;
        margin-top: 8px;
        transition: all 0.2s ease-in-out;

        &[class*="income"] {
            border-left: 3px solid var(--color-tertiary);
        }

        &[class*="expense"] {
            border-left: 3px solid var(--color-secondary);
        }
        
        &:hover {
            background-color: var(--color-secondary);
            color: var(--color-neutral);
        }
    }
}